body {
  background-image: url(https://abs.twimg.com/images/themes/theme8/bg.gif);
  background-position: left 40px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #8B542B;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

li {
  display: inline-block;
  text-align: -webkit-match-parent;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  position: relative;
  width: 100%;
  height: 40px;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_bgs.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-color: #252525;
  display: block;
}

.navigation {
  display: inline-block;
  float: left;
  text-align: center;
  position: relative;
  right: -110px;
}

.navbar li {
  position: relative;
}

.navbar > li {
  float: left;
}


ul {
  list-style: ;
}

.navbar > a > li {
  display: block;
  height: 12px;
  padding: 13px 12px 15px;
  position: relative;
}

.menu-text {
  font-weight: bold;
  line-height: 1;
  font-size: 12px;
  margin: 0 23 0 0;
  color: #bbb;
  position: relative;
  top: -3px;
}


.text {
  font-weight: bold;
  line-height: 1;
  font-size: 12px;
  margin: 0 23 0 0 ;
    position: relative;
  top: 12px;
  left: 10px;
}

.navbar  a  li{
  position: relative;
  font-size: 14px;
  line-height: 18px;
}

.nav-home {
  height: 21px;
  width: 22px;
  display: inline-block;
  vertical-align: text-top;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: 0 -110px;
  background-repeat: no-repeat;
  position: relative;
  top: 13px;
  left: 10px;
}

.nav-new {
  display: block;
  position: absolute;
  top: 38px;
  left: 9%;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -200px -80px;
  height: 3px;
  width: 24px;
}

.nav-people {
  display: inline-block;
  position: relative;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -80px -50px;
  height: 22px;
  width: 21px;
  float: left;
  top:-3px;
}

.nav-topics {
  display: inline-block;
  position: relative;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -40px -50px;
  height: 22px;
  width: 17px;
  float: left;
  top:-3px;
}

.nav-me {
  display: inline-block;
  position: relative;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -120px -50px;
  height: 22px;
  width: 21px;
  float: left;
  top:-3px;
}

.navbar i {
  float: left;
  margin: -4px 6px 0 0;
}

.active {
  background-color: #222;
  height: 40px;
  width: 85px;
  position: absolute;
  top: -16px;
  left: -10px;
}

a {
  text-decoration: none;
}


.navbar .active {
  text-decoration: none;
  color: #fff;
}

.bird-etched {
  display: inline-block;
  width: 24px;
  height: 21px;
  background-position: -40px 0;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  position: relative;
  top: 8px;
  right: -140px;
}

.menu-text:hover, .nav-envelope:hover {
  color: #fff;
}

.pull-right {
  float: right;
  text-align: left;
  display: inline-block;
}

.search-bar {
  display: block;
  float: left;
}

.search-bar .form-search {
  position: relative;
  float: left;
  margin: 7px 0;
  font-size: 12px;
}

.search-input {
  position: absolute;
  top: -40px;
  right: 310px;
  z-index: 2;
  color: #444;
  background-color: #ccc;
  display: block;
  width: 202px;
  height: 26px;
  padding: 6px 27px 6px 12px;
  font-size: 12px;
  line-height: 1;
  border-radius: 13px;
  letter-spacing: normal;
}

.nav-search {
  position: absolute;
  vertical-align: text-top;
  display: inline-block;
  top: -38px;
  right: 318px;
  z-index: 3;
  margin-top: 3px;
  margin-left: 7px;
  background-color: transparent;
  background-position: -20px -710px;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  width: 12px;
  height: 14px;
  border: 0;
}

.topbar-divider {
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -240px -50px;
  width: 2px;
  height: 32px;
  color: #333;
  position: absolute;
  vertical-align: text-top;
  display: inline-block;
  top: 5px;
  right: 300px;
}

.second {
  right: 250px;
}

.third {
  right: 200px;
}

.nav-envelope {
  position: absolute;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -87px -880px;
  width: 20px;
  height: 15px;
  vertical-align: text-top;
  top: 12px;
  right: 265px;
}

.nav-session {
  position: absolute;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -160px -50px;
  width: 20px;
  height: 21px;
  vertical-align: text-top;
  top: 10px;
  right: 222px;
}

.claret {
  -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.75);
  box-shadow: 0 -1px 0 rgba(0,0,0,.75);
  display: inline-block;
  vertical-align: top;
  border-top: 4px solid #bbb;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 18px;
  right: 212px;
}

.nav-tweet {
  position: absolute;
  background-image: url(https://abs.twimg.com/a/1384470786/t1/img/twitter_web_sprite_icons.png);
  background-position: -200px -50px;

  width: 22px;
  height: 18px;
  vertical-align: center;
  top: 5px;
  right: -10px;
  float: left;
padding: 5px 10px 5px 3px;
font-size: 12px;
line-height: 20px;
}

.nav-tweet-box {
    -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,.75);
  box-shadow: 0 -1px 0 rgba(0,0,0,.75);
  background-color: #2c77ba;
  width: 35px;
  height: 27px;
  position: absolute;
  top: 8px;
  right: 157px;
  border-radius: 4px; 
}

.mini-profile {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 6px;
  height: 158px; 
  width: 302px;
  position: absolute;
  display: block;
  top: 55px;
  left:145px;
  float: left;
  z-index: -1;
}

.who-to-follow {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 6px;
  height: 208px; 
  width: 302px;
  position: absolute;
  display: block;
  top: 230px;
  left:145px;
  float: left;
  z-index: -1;
}

.tweet-feed {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 6px;
  height: 100%; 
  width: 520px;
  position: absolute;
  display: block;
  top: 57px;
  right:145px;
  float: right;
  z-index: -1;
}

